/* GENERAL */

body {
  background-color: black;
}

:focus {
  outline: none;
}

/* JAVASCRIPT CLASS */

.error-message {
  color: rgb(214, 28, 28);
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

/* SELECT */

.select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

button {
  background-color: rgb(214, 28, 28);
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 10px;
}

select {
  background-color: black;
  color: white;
  border: 1px solid red;
  font-size: small;
  width: 170px;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
}

/* IMAGES */

.movie-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.movie-wrapper img {
  transform: rotate(5deg);
  width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}

.movie-wrapper img:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(5deg) translateX(0);
  }
  25% {
    transform: rotate(5deg) translateX(-5px);
  }
  50% {
    transform: rotate(10deg) translateX(5px);
  }
  75% {
    transform: rotate(5deg) translateX(-3px);
  }
}

@media (min-width: 768px) {
  .movie-wrapper img {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 767px) {
  input,
  select {
    width: 90vw;
    max-width: 350px;
    font-size: 16px;
    border-radius: 8px;
  }
  .movie-wrapper img {
    width: 80vw;
    height: auto;
  }
  .movie-wrapper {
    gap: 16px;
  }
  button {
    width: 90vw;
    max-width: 350px;
    font-size: 16px;
  }
  body {
    font-size: 15px;
  }
}
