/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* SCROLL ICON */
.scroll-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: rgb(214, 28, 28);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll-icon.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hero-input input:focus {
  outline: none;
  background-color: rgb(45, 43, 43);
}

span:hover {
  color: white;
}

/* HEADER */

.header-wrapper {
  margin: auto;
  max-width: 99%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header img {
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
}

.header-button button {
  background-color: rgb(214, 28, 28);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 20px;
  height: 35px;
}

/* HERO */

h1 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 10px;
}

h6 {
  font-size: 8px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.hero-wrapper {
  height: calc(100vh - 40px);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.99),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.79),
      rgba(0, 0, 0, 0.59)
    ),
    url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: white;
  text-align: center;
  height: 300px;
  width: 300px;
}

.hero-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}

.hero-input input {
  border: 1px solid white;
  width: 100%;
  height: 32px;
  padding-left: 5px;
  background-color: black;
  color: white;
  font-size: small;
  border-radius: 8px;
}

.hero-input button {
  background-color: rgb(214, 28, 28);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  min-width: 100px;
  white-space: nowrap;
}

/* SUB-SECTION */

.subsec-movies-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.subsec-movies-wrapper img {
  height: auto;
  width: 25%;
  transition: transform 0.8s, box-shadow 0.8s;
}

.subsec-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subsec-button button {
  background-color: rgb(214, 28, 28);
  color: white;
  border: none;
  padding: 8px 12px;
  height: 35px;
  margin-bottom: 100px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 8px;
}

.subsec-movies-wrapper img:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25);
}

/* FOOTER */

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  text-decoration: underline;
}

.footer-text1,
.footer-text2,
.footer-text3,
.footer-text4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  font-size: small;
  line-height: 140%;
}

.footer-text4 {
  margin-bottom: 60px;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
  .hero-text {
    width: 95vw;
    height: auto;
    font-size: 18px;
    padding: 8px;
  }
  .hero-input input {
    width: 90vw;
    font-size: 15px;
  }
  .subsec-movies-wrapper img {
    width: 80vw;
    height: auto;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    text-align: center;
  }
  .footer-text1,
  .footer-text2,
  .footer-text3,
  .footer-text4 {
    text-align: center;
    font-size: 13px;
    line-height: 160%;
  }
}

@media (min-width: 768px) {
  .scroll-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: rgb(214, 28, 28);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease;
    z-index: 1000;
  }

  .visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  h1 {
    font-size: 50px;
  }
  h6 {
    font-size: 10px;
  }
  .hero-text {
    height: 500px;
    width: 500px;
  }
  .hero-input {
    flex-direction: row;
    justify-content: center;
  }
  .hero-input input {
    width: 90%;
  }

  .subsec-movies-wrapper {
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
  }
  .subsec-movies-wrapper img {
    width: 15%;
  }

  .footer-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-text1,
  .footer-text2,
  .footer-text3,
  .footer-text4 {
    text-align: left;
    font-size: 15px;
    line-height: 200%;
  }
}
