/* Autofill fix for dark background */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px black inset;
  box-shadow: 0 0 0 1000px black inset;
  -webkit-text-fill-color: #fff;
  color: #fff;
  caret-color: #fff;
  border: 1px solid white;
}
/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

input:focus {
  outline: none;
  background-color: rgb(45, 43, 43);
}

/* HEADER */

.header-wrapper {
  margin: auto;
  max-width: 99%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
}

.header-button button {
  background-color: rgb(214, 28, 28);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 20px;
}

/* JAVASCRIPT CLASSES */

.valid-red {
  border: 1px solid red;
}

.valid-green {
  border: 1px solid green;
}

.valid-empty {
  border: 1px solid white;
}
/* HERO FORM */

.hero-form {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.95) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../img/movies-bg.jpeg");

  background-size: cover;
  background-position: center;
  height: calc(100vh - 40px);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input {
  border: 1px solid white;
  background-color: black;
  color: white;

  margin-bottom: 0px;
  padding-left: 5px;
  font-size: 16px;
  border-radius: 8px;
}

input:-webkit-autofill {
  background-color: black;
  color: white;
  -webkit-box-shadow: 0 0 0 1000px black inset;
}

.submit-button {
  background-color: rgb(214, 28, 28);
  border: 1px solid white;
  color: white;
  padding: 8px 1px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  input {
    width: 400px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .form-wrapper {
    padding: 16px;
  }
  input {
    width: 90vw;
    max-width: 350px;
    height: 40px;
    font-size: 16px;
  }
  .submit-button {
    width: 100%;
    font-size: 16px;
  }
}
